force-app/main/default/flows/Badge_Created_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Comma</name>
        <label>Add Comma</label>
        <locationX>1727</locationX>
        <locationY>1067</locationY>
        <assignmentItems>
            <assignToReference>varAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>How_Many_of_This_Badge</name>
        <label>How Many of This Badge</label>
        <locationX>1244</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>numCurrentBadgeLoopCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Count_Matching_Badge_Recipients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPointsIncrement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_BadgeTypes.Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X0_1_or_2_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Len_to_Zero</name>
        <label>Set Len to Zero</label>
        <locationX>772</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>varAPIBadges</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_BadgeTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable</name>
        <label>Build API Field</label>
        <locationX>1471</locationX>
        <locationY>1267</locationY>
        <assignmentItems>
            <assignToReference>varAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;value&quot;:&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_BadgeTypes.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;alt&quot;:&quot;&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;value&quot;:&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_BadgeTypes.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>numCurrentBadgeLoopCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCumulativeAPIBadges</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)&quot;,&quot;alt&quot;:&quot;&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalBadgeCountProfileUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>numCurrentBadgeLoopCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTotalPointCountProfileUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fBadgePointsOfThisType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_BadgeTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_One</name>
        <label>First One</label>
        <locationX>1466</locationX>
        <locationY>1065</locationY>
        <defaultConnector>
            <targetReference>Add_Comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>fLengthAPIBadges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCumulativeAPIBadges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCumulativeAPIBadges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variable</targetReference>
            </connector>
            <label>First</label>
        </rules>
    </decisions>
    <decisions>
        <name>X0_1_or_2_decision</name>
        <label>0, 1, or 2+</label>
        <locationX>1468</locationX>
        <locationY>853</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrentBadgeLoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_BadgeTypes</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrentBadgeLoopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_One</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCurrentBadgeLoopCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_One</targetReference>
            </connector>
            <label>2+</label>
        </rules>
    </decisions>
    <description>v6 - cumulative attempt
v7 - activating with lookup not filter
v8 - fix comma
v9 - null
v10 debug nullcheck - with fix and count fix
v13 - point accrual
v14 - fix the submission call
v15 - with second update
v16 - points increment fix</description>
    <environments>Default</environments>
    <formulas>
        <name>fBadgePointsOfThisType</name>
        <dataType>Number</dataType>
        <expression>{!numCurrentBadgeLoopCount}*{!vPointsIncrement}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fBadgesField</name>
        <dataType>String</dataType>
        <expression>{!ttThisBadgeReceived}&amp;IF(LEN({!Get_Recipient_Profile.API_Badges__c})&gt;0,&quot;,&quot;&amp;{!Get_Recipient_Profile.API_Badges__c},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fBadgesReceivedIncrement</name>
        <dataType>Number</dataType>
        <expression>{!Get_Recipient_Profile.Badges_Received__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>updated 3/22</description>
        <name>fKudosGIVEN</name>
        <dataType>String</dataType>
        <expression>&quot;To &lt;@&quot;&amp;{!$Record.recog_recipient_slack_id__c}&amp;&quot;&gt; on &quot;&amp;TEXT(DATEVALUE({!$Record.CreatedDate}))&amp;&quot;: &quot;&amp;{!$Record.Feedback__c}&amp;IF(LEN({!Get_Submitter_Profile.recog_API_Kudos_Given__c})&gt;0,&quot;\n\n\n&quot;,&quot;&quot;)&amp;{!Get_Submitter_Profile.recog_API_Kudos_Given__c}</expression>
    </formulas>
    <formulas>
        <name>fKudosReceived</name>
        <dataType>String</dataType>
        <expression>{!$Record.Feedback__c}&amp;&quot; - &lt;@&quot;&amp;{!$Record.recog_Submitter_Slack_ID__c}&amp;&quot;&gt;, &quot;&amp;TEXT(DATEVALUE({!$Record.CreatedDate}))&amp;IF(LEN({!Get_Recipient_Profile.recog_API_Kudos_Received__c})&gt;0,&quot;\n\n\n&quot;,&quot;&quot;)&amp;{!Get_Recipient_Profile.recog_API_Kudos_Received__c}</expression>
    </formulas>
    <formulas>
        <name>fLengthAPIBadges</name>
        <dataType>Number</dataType>
        <expression>LEN({!varAPIBadges})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fLengthExistingAPIField</name>
        <dataType>Number</dataType>
        <expression>LEN({!Get_Recipient_Profile.API_Badges__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fPointsIncrement</name>
        <dataType>Number</dataType>
        <expression>{!Get_Recipient_Profile.Accrued_Points__c}+{!currentItem_Filter_Just_This_BadgeType.Points__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Badge Created Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Badge Created Trigger</label>
    <loops>
        <description>To get the math</description>
        <name>Loop_Through_BadgeTypes</name>
        <label>Loop Through BadgeTypes</label>
        <locationX>754</locationX>
        <locationY>1108</locationY>
        <collectionReference>Get_BadgeType_Lookup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Matching_Badge_Recipients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Profile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>for counting</description>
        <name>Count_Matching_Badge_Recipients</name>
        <label>Count Matching Badge Recipients</label>
        <locationX>1021</locationX>
        <locationY>954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_Many_of_This_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recognition_Badge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_BadgeTypes.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>recog_Recipient_Salesforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recipient_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recognition_Badge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds every recognition badge type</description>
        <name>Get_BadgeType_Lookup</name>
        <label>Get ALL BadgeTypes</label>
        <locationX>502</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_This_Badge_Type</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Recognition_Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recipient_Profile</name>
        <label>Get Recipient Profile</label>
        <locationX>755</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Submitter_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recipient_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recognition_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the recipient sf users from their slack id</description>
        <name>Get_Recipient_User</name>
        <label>Get Recipient SF User</label>
        <locationX>754</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BadgeType_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recog_recipient_slack_id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submitter_Profile</name>
        <label>Get Submitter Profile</label>
        <locationX>756</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Badge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submitterr_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recognition_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds the submitter of the badge based on their slack id</description>
        <name>Get_Submitterr_User</name>
        <label>Get Submitter SF User</label>
        <locationX>754</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recog_Submitter_Slack_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Finds every recognition badge type</description>
        <name>Get_This_Badge_Type</name>
        <label>Get THIS BadgeTypes</label>
        <locationX>373</locationX>
        <locationY>653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recipient_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.recog_Badge__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recognition_Badge_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>stamps the points, suvbmitter, recipient, etc.</description>
        <name>Update_Badge</name>
        <label>Update $Record Badge Fields</label>
        <locationX>647</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>Set_Len_to_Zero</targetReference>
        </connector>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>Get_This_Badge_Type.Points__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognition_Badge_Type__c</field>
            <value>
                <elementReference>Get_This_Badge_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recognition_Profile_Submitter__c</field>
            <value>
                <elementReference>Get_Submitter_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recog_Recipient_Salesforce__c</field>
            <value>
                <elementReference>Get_Recipient_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recog_Recognition_Profile__c</field>
            <value>
                <elementReference>Get_Recipient_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recog_Submitter_Salesforce__c</field>
            <value>
                <elementReference>Get_Submitterr_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Profile</name>
        <label>Update Recipient Profile</label>
        <locationX>736</locationX>
        <locationY>1316</locationY>
        <connector>
            <targetReference>Update_Submitter_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recipient_Profile.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>API_Badges__c</field>
            <value>
                <elementReference>varAPIBadges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accrued_Points__c</field>
            <value>
                <elementReference>vTotalPointCountProfileUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Badges_Received__c</field>
            <value>
                <elementReference>varTotalBadgeCountProfileUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Flow_Run_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifetime_Badges_Received__c</field>
            <value>
                <elementReference>varCumulativeAPIBadges</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recog_API_Kudos_Received__c</field>
            <value>
                <elementReference>fKudosReceived</elementReference>
            </value>
        </inputAssignments>
        <object>Recognition_Profile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitter_Profile</name>
        <label>Update Submitter Profile</label>
        <locationX>736</locationX>
        <locationY>1491</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submitter_Profile.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Flow_Run_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recog_API_Kudos_Given__c</field>
            <value>
                <elementReference>fKudosGIVEN</elementReference>
            </value>
        </inputAssignments>
        <object>Recognition_Profile__c</object>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Submitterr_User</targetReference>
        </connector>
        <filterFormula>or(
ISNEW(),
ISCHANGED({!$Record.Status__c}))</filterFormula>
        <object>Recognition_Badge__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttAssignedBadgeAPI</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{</text>
    </textTemplates>
    <textTemplates>
        <name>ttThisBadgeReceived</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;value&quot;: &quot;{!$Record.recog_Badge__c}&quot;,
&quot;alt&quot;: &quot;&quot;
}</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_Just_This_BadgeType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Recognition_Badge_Type__c</objectType>
    </variables>
    <variables>
        <name>numCurrentBadgeLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAPIBadges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCumulativeAPIBadges</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalBadgeCountProfileUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vPointsIncrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vTotalPointCountProfileUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
